doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="javascripts/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/agentChat.js")

body
  h1= title
  div
    input(type='text' value='' id='agentId' style="width:20%" placeholder="用户id")
    input(type='text' value='' id='agentNickName' style="width:20%" placeholder="昵称")

  div
    input(type='button' value='用户端登陆' id='agentLogin' style="width:20%")
    input(type='text' id='agentLoginReturn' placeholder="服务器返回登陆结果" style="width:60%")

  div
    p 获得客服端默认回复:
    input(type='text' id='defRespondToAgent' placeholder="服务器返回登陆结果" style="width:60%")

  div
    p 用户给客服发送消息
    input(type='button' value='给客服发送消息' id='sendMsgBtn' style="width:20%")
    input(type='text' value='这件商品能在便宜些吗?' id='sendMsg' style="width:60%")

  div
    p 用户收到来自客服的消息:
    input(type='text' id='reciverMsg' style="width:60%")

  div
    p 不给便宜不买了:
    input(type='button' value='关闭客服' id='agentLogout' style="width:60%")